<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mom Pharmacy</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <header class="navbar">
    <div class="logo">
      <h2>Mom Pharmacy</h2>
    </div>
    <nav class="nav-links">
      <a href="/">Home</a>
      <a href="/#product-category">Medicines</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="/cart" class="cart-link">Cart</a>
    </nav>
  </header>